<body>
    <div class="container">
        <h5 style="text-align: right"><a href="/logout">Logout</a></h5>
        <h5>Successfully logged in! Welcome, <b>{{user.alias}} !</b></h5>
        <h4>Your Favourite</h4>
        <table>
            <tbody>
                    {%for favourite in favourites%}
                <tr>
                    <td>{{favourite.content}} </td>
                </tr>
                <tr>
                    <td>Post By: <a href="/show/{{favourite.id}}">{{favourite.contributor.name}}</a> | <a href="/removefav/{{favourite.id}}">Remove Favourite</a></td>
                </tr>
                    
                    {%endfor%}
            
            </tbody>
        </table>
    </div>
        <br>

    <div class="container">
        <h4>Quotable Quotes</h4>
        <table>
            <tbody>
                {%for quote in quotes%}
                    <tr><td><b>{{quote.quoteby}}:</b> {{quote.content}}</td></tr>
                    <tr>
                        <td>
                        Posted By<a href="/show/{{quote.id}}">:{{quote.contributor.name}}</a>
                        </td>
                        <form class="" action="/addfav/{{quote.id}}" method="POST">
                            {% csrf_token %}
                           <td><input type="Submit" name="add" value="Add My List"></td>
                       </form>
                   </tr>
                {%endfor%}
            </tbody>
        </table>
        <br>
    </div>
    <div class="container">
        <br />
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li style="color:red">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
    </div>
    <div class="row">
        <form action="/createquote" class="col s12" method="POST">
            <div class="">
                {% csrf_token %}
                <h3>Contribute a Quote</h3>
                <label for="input1">Quoted By:</label>
                <input type="text" name="quoteby" class="materialize-textarea" placeholder="Quoted by"></input>
                <label for="textarea2">Message:</label>
                <textarea name="content" class="materialize-textarea" placeholder="Quote"></textarea>
                <input type="submit" name="submit" value="Submit">
            </div>
        </form>
    </div>
    <br>
  </body>
</html>