<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{friend name}</title>
        
    </head>

    <body>
        <h5 style="text-align: right"> <a href="/quotes" style="margin: 20px">DashBoard</a> | <a href="/logout" style="margin: 20px">Log out</a></h5>
      <div class="container">
          <table>
                {%for user in creator%}
                      <h3>Posted by {{user.name}}</h3>
                {%endfor%}
                      <h3>Count: {{count}}</h3>
                      {%for quote in quotes%}
                      <tr>
                         <p>{{quote.quoteby}}:  {{quote.content}}</p>
                      </tr>
                       {%endfor%}
          </table>
      </div>
    </body>
</html>